# Ignore everything by default
*

# Allow only necessary files
!dist/            # Include compiled library
!package.json     # Required for npm package
!README.md        # Documentation
!LICENSE          # License file